<p></p>
<div class="ui container">
    <div class="ui three item menu">
        <a [routerLink]="['/']" class="item">Mapbox + btn</a>
        <a [routerLink]="['/reviews']" class="item">Reviews</a>
        <a [routerLink]="['/events']" class="item">Upcoming Events <div class="ui label orange">protected</div> </a>
    </div>
    <div class="ui vertically divided grid">
      <div class="row">
        <div class="thirteen wide column">
          <h2 class="ui inverted"> Next-Gen Network </h2>
        </div>
        <div class="two wide column">
          <button smDirTooltip="Tooltip text"
            smDirPosition="bottom right"
            class="ui orange button icon" (click)="modal.show({transition: 'fly down'})">
            Registration
          </button>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
</div>
