<div class="ui statistics">
  <div class="statistic" *ngFor="let kpi of kpis">
    <div class="value">
      {{kpi.val}}
    </div>
    <div class="label">
      {{kpi.name}}
    </div>
  </div>
</div>

<!-- <mapbox [center]="[-5.646973, 52.087483]"></mapbox> -->
<div id="map"></div>

<!-- <button smDirTooltip="Tooltip text"
  smDirPosition="bottom center"
  class="ui orange button icon" (click)="modal.show({transition: 'fly down'})">
  Show modal window
</button>

<sm-modal #modal title="Hello">
    <div class="action">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</sm-modal>
-->
