<button smDirTooltip="Tooltip text"
  smDirPosition="bottom center"
  class="ui button positive" (click)="modal.show({transition: 'fly down'})">
  Show modal window
</button>

<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Faves
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      31,200
    </div>
    <div class="label">
      Views
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Members
    </div>
  </div>
</div>

<!-- <mapbox [center]="[-5.646973, 52.087483]"></mapbox> -->
<div id="map"></div>

<sm-modal #modal title="Hello">
    <div class="action">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</sm-modal>
